/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002836;
  --sl-color-accent: #007497;
  --sl-color-accent-high: #87d5f6;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e2efff;
  --sl-color-gray-2: #b9cadf;
  --sl-color-gray-3: #86a7cf;
  --sl-color-gray-4: #3c5a7e;
  --sl-color-gray-5: #1c395b;
  --sl-color-gray-6: #0a2748;
  --sl-color-black: #0c1928;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #a8e1fa;
  --sl-color-accent: #00556f;
  --sl-color-accent-high: #00384a;
  --sl-color-white: #0c1928;
  --sl-color-gray-1: #0a2748;
  --sl-color-gray-2: #1c395b;
  --sl-color-gray-3: #3c5a7e;
  --sl-color-gray-4: #6e8eb6;
  --sl-color-gray-5: #b3c4d9;
  --sl-color-gray-6: #e2efff;
  --sl-color-gray-7: #f1f7ff;
  --sl-color-black: #ffffff;
}
